*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


h1, h2, h3, p{
    margin: 0;
}


/* Encabezado de la web(enlaces/barra de busqueda e icono) */
header{
    background-color: #1e5399;
    color: white;
    text-align: center;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}


.menu{
    display: flex;
    justify-content: left;
    list-style: none;
    gap: 40px;
}


.menu_a{
    text-decoration: none;
    color: wheat;
    border-bottom: 2px solid transparent;
    font-size: 18px;
}


.menu_a:hover{
    border-bottom: 2px solid wheat;
    transition: all 0.3s ease-in-out;
}


.search{
   color: wheat;
}


.search_input{
    border-radius: 10px;
    padding: 5px;
    border: none;
    color: wheat;
    background-color: wheat;


}


button{
    background-color: #555;
    color: wheat;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


/* Imagen Cat Lover */
.cta-container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-position: 100%;
    background-size: cover;
    background-image: url("gato fondo.jpg");
    height: 600px;
}
/* Only Cats debajo de imagen🐈‍⬛🐈‍⬛ */
.footer-copy{
    background-color: #1e5399;
    color: wheat;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    margin: 0;
}
/* Footer */
.footer-menu{
    margin-top: 20px;
    background-color: #1e5399;
    color: wheat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;
    margin: 0;
    padding: 80px 20px;
}
.footer-menu div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 120px;
}


.footer-menu a{
    text-decoration: none;
    color: wheat;
    font-size: 16px;
    transition: opacity 0.3s ease;
}


.footer-menu a:hover{
    opacity: 0.7;
}




