*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

header{
   background-color: blue;
}

.container-header-container{
display: flex;
justify-content: space-between;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.header-actions button{
color: steelblue;
background-color: rgb(0, 255, 225);
border-radius: 20px;
transition: 0.3s ease;
}

.header-actions button:hover{
   transform: scale(1.1);
}
/*Cuerpo*/
body{
background-image: url("https://blogs.unitec.mx/hubfs/Imported_Blog_Media/ingenieria-mecanica-1-Dec-17-2022-06-52-40-8906-PM.jpg");
}

section{
    text-align: center;
}
.Encabezado{
    text-align: center;
}