*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

li{
    display: inline;
    padding: 20px;
    text-decoration: none;
   background-color: blueviolet;
}
a{
    text-decoration: none;
}
a:hover{
    color: rosybrown;
}